.encabezado {
    color: rgb(18, 151, 89);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 4px 50px;
    border-radius: 10px;
}

.checkout {
    background-color: rgb(18, 151, 89) !important;
    margin-left: 20px !important;
    }

.totalcarritotext {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.totalcarritoamount {
    font-size: 18px;
    font-weight: bold;
    color:rgb(18, 151, 89);
}

.totalcarrito {
    font-size: 25px;
    grid-column: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}
.cartContainer{
    padding-top: 10px;
}