.categories{
    color: green;
    text-align: center;
    font-size: 25px!important;
    text-decoration: none !important; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}
a, li{
    text-decoration: none;
    color: green;
    text-transform: uppercase;
}
ul{
    list-style: none
}

