.formContainer {
  background-color: rgb(173, 211, 173);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.inputField {
  padding: 12px;
  border: 1px solid #c9bd3f;
  border-radius: 4px;
  outline: none;
}

.submitButton {
  color: #c6e334;
  margin-top: 16px;
  width: 300px;
}

.estilo-checkout {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.estilo-par-checkout {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
