.container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(147, 204, 145);
  height: 60px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

  
}
.navBar_imagen_logo {
  width: 100px;
  height: 60px;
}

.alinearcart {
  padding-top: 20px;
}