.contador {
    background-color: rgb(90, 155, 90);
    border-color: chartreuse;
    margin: auto;
    padding: 1rem;
    width: fit-content;
    display: flex;

}
.itemcontainer {

    border: 5px solid green;
    padding: 15px;
    margin: 10px;
    background-color: rgb(173, 211, 173);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: mediums;
    text-decoration: none;
    width: 350px;
    text-align: center;
    padding-top: 25px
}

.image {
    width: 250px;
}