.Itembutton {
    display: flex;
    border-radius: 20px;
    justify-content: space-between;


}

;

.button {
    background-color: rgb(90, 155, 90);
    border-color: chartreuse;
    border-radius: 20px;
    width: 80px;
    height: 30px;
}